nav {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    background-image:url(../imagenes/bbbbbbbbbbbb.png);
    background-position: center 25%; 
    background-size: cover; 
    margin: 0;
    padding: 0;
    padding-top: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    padding: 20px;
    
}
.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-decoration: none;
    background-image: url(../imagenes/JP.png);
    background-size: cover;
}

.card2 {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-decoration: none;
    background-image: url(../imagenes/JP.png);
    background-size: cover;
}

.card3 {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-decoration: none;
    background-image: url(../imagenes/JP.png);
    background-size: cover;
}
.card4 {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-decoration: none;
    background-image: url(../imagenes/JP.png);
    background-size: cover;
}


.card-content {
    padding: 15px;
}
.card-content h3 {
    margin: 0 0 10px;
    font-size: 1.25rem;
    color: #333;
}
.card-content p {
    margin: 0;
    color: #666;
    font-size: 0.95rem;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
nav a:hover {
    text-decoration: underline;
}
